:host{
    flex: 1;
    display: flex;
    justify-content: center;
}
.login__form{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    min-height: 20rem;
}
.form__group--login{
    padding: 2rem 0;
    margin: 0 auto;
    width: 100%;
    font-size: 1.6rem;
}

.btn__login{
    height: 4rem;
    width: 100%;
    background: linear-gradient(to left, #00c6ff, #0072ff);
    &:hover{
        cursor: pointer;
    }
    span{
        color: white;
        font-size: 1.6rem;
    }
}
.login-form__link{
    font-size: 1.2rem;
    color:#0072ff;
    &:hover{
        cursor: pointer;
        text-decoration:underline;
        
    }
}
.login-form__invalid-msg{
    color:red;
}
main,.panel,.login__form{
    position: relative;
}

