<form action=""
  class="login__form"
  novalidate 
  [formGroup]="form" 
(ngSubmit)="onSubmit()">
<div class="form__content">
    <div class="form__group--login">
          <mat-form-field class="full-width" >
            <input formControlName="username"
                name="username"
                matInput 
                placeholder="username"
                type="text" required />
          </mat-form-field>
            <div *ngIf="!form.controls['username'].valid && form.controls['username'].touched">
                <div class="login-form__invalid" *ngIf="form.controls['username'].hasError('required')">
                    <p class="login-form__invalid-msg">
                        username required
                    </p>                                       
                </div>
                <div class="login-form__invalid" *ngIf="form.controls['username'].hasError('minlength')">
                    <p class="login-form__invalid-msg">
                     username is too short
                    </p>                                       
                </div> 
            </div>
        </div>
    <div class="form__group--login">
          <mat-form-field class="full-width" >
                <input formControlName="password"
                    class="full-width" 
                    name="password"
                    matInput
                    placeholder="password"
                    type="password" required />
                </mat-form-field>
                <div *ngIf="!form.controls['password'].valid && form.controls['password'].touched">
                    <div class="login-form__invalid"  *ngIf="form.controls['username'].hasError('required')">
                        <p class="login-form__invalid-msg">
                            password required
                        </p>                                       
                    </div>
                        <div class="login-form__invalid" *ngIf="form.controls['password'].hasError('minlength')">
                        <p class="login-form__invalid-msg">
                            password is too short
                        </p>                                       
                    </div>
                    <div class="login-form__invalid" *ngIf="form.controls['password'].hasError('invalid')">
                        <p class="login-form__invalid-msg">
                            password is invalid
                        </p>                                       
                    </div>
                </div>
            </div>
        </div>
        <div  class="form__submit">
              <div *ngIf='pending'>
                  <p style="color:red; font-size:1.4rem">
                      form pending
                  </p>
              </div>
              <div *ngIf='error'>
                  <p style="color:red; font-size:1.4rem">
                      authentication failed 
                  </p>

              </div> 
            <button id=submit 
                    class=" btn btn-block btn__login"
                    type="submit">
            <span *ngIf="!is_sending" >Sign in </span> 
            </button> 
        </div> 
</form>