:host{
    display:flex; 
    width:100%;
}
.container{
background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
    display:flex; 
    flex:1;
    transform: skewY(-25deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
}
.form__wrap{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 115%;;
    transform: skewY(25deg);

}
.form__login-wrap{
    width: 30rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 0 3rem 3rem;
    background: white;
    min-height: 40rem;
}
section.panel{
    background:transparent;
    border: none;
}
.title--login{
    font-size: 3rem;
    padding: 2rem 0;
    color: #0072ff;
    text-align: center;
}


.full-width{
    width:100%;
}

.panel-body{
    height: 30rem;
    display: flex;
    flex: 1;
    justify-content: center;
}
///general style
/*
.login__form{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
}
.btn__login{
    height: 4rem;
    width: 100%;
    background: linear-gradient(to left, #00c6ff, #0072ff);
    &:hover{
        cursor: pointer;
    }
    span{
        color: white;
        font-size: 1.6rem;
    }
}
.login-form__link{
    font-size: 1.2rem;
    color:#0072ff;
    &:hover{
        cursor: pointer;
        text-decoration:underline;
        
    }
}
.login-form__invalid-msg{
    color:red;
}
main,.panel,.login__form{
    position: relative;
}

 */
