<div class="container relative">
  <div class="form__wrap">
      <main class="form__login-wrap">
          <section class="panel form__login">
              <header class="panel-header">
                  <div class="panel-title">
                      <h1 class="text-center title--login">Sign in</h1>
                  </div>
              </header>
              <div class="panel-body text-center ">
                    <login-form [pending]='pending$ | async'
                        [data]='form$ | async'
                        [error]='error$| async'
                        (creds)='login($event)'
                        (updateForm)='update($event)'>
                    </login-form>  
              </div>
              <footer class="panel-footer no-margin">
                   <div class="login-form__link-wrap clearfix">
                      <a  class="login-form__link pull-left">
                        Forgot password?
                      </a>
                  </div>
              </footer>
          </section>
      </main>
  </div>
</div>

