/* You can add global styles to this file, and also import other style files */


html
{
  height: 100vh;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  line-height: 1;
  font-family: "Roboto","Helvetica Neue", Helvetica,Arial,sans-serif;
  display:flex;

}
body {
  position: relative;
  font-weight: 300;
  box-sizing: border-box;
  min-height: 100vh;
}

